# macOS
.DS_Store
.AppleDouble
.LSOverride
Icon\r

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini

# Temporary and Parsing Files (generated during development)
parse.py
parse_legal.py
*.xml

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Node / Vercel
node_modules/
.vercel
.env
.env.local
.env.*.local
